.DeliveryPage {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    font-family: 'Noto Sans Mono', monospace;
}

.toCart {
    color: white;
    margin: 15px 0px 20px 0px;
    font-size: 20px;
    font-weight: 600;
}

.deliveryTitle {
    font-size: 32px;
    font-weight: 700;
    padding-left: 20px;
    border-left: 5px solid #618967;
    color: white;
    margin: 15px 0px 40px 0px;

}

.contacts {
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    width: 800px;
    max-height: 370px;
    display: flex;
    flex-direction: column;
    height: 200px;
    box-sizing: border-box;
}

.contacts span {
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.inputContacts {
    display: flex;
    justify-content: space-around;
}

.inputContacts input {
    width: 363px;
    padding: 15px 0px 15px 10px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: linear-gradient(93deg, #494544 0%, #504B4A 100%);
}

.chooseDelivery {
    border: 2px solid #72A479;
    width: 360px;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    display: flex;
    color: white;
    border-radius: 10px;
    margin: 20px 30px;
}

.chooseDelivery div {
    width: 180px;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 17px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.active {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
}

.btn {
    height: 60px;
    background:  linear-gradient(93deg, #494544 0%, #504B4A 100%);
    border-right: 2px solid #72A479;
}
.delivery {
    min-height: 302px;
    max-height: 456px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    width: 800px;
    border-radius: 10px;
    margin-top: 20px;
}

.title {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 30px;
    color: white;
    font-size: 18px;
}

.payment {
    min-height: 181px;
    max-height: 249px;
    width: 800px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    margin-top: 20px;
}

.change {
    width: 173px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 20px 30px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 18px;
    font-size: 18px;
    padding-right: 40px;
    cursor: pointer;
}

.chooseTime {
    width: 185px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 18px;
    font-size: 18px;
    padding-right: 40px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

.countOfPerson {
    display: flex;
    justify-content: space-around;
    width: 263px;
    height: 60px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    align-items: center;
    box-sizing: border-box;
    margin: 20px 30px;
}

.accept {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 85px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.btnOfDelivery {
    width: 209px;
    height: 51px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

label {
    cursor: pointer;
    color: white;
    font-size: 13px;
}

.checkboxAccept {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.accept div {
    display: flex;
    align-items: center;
}

.CounterOfPerson {
    width: 70px;
    display: flex;
}

.CounterOfPerson span {
    margin-left: 15px;
    font-size: 20px;
}

.minus {
    cursor: pointer;
}
.plus {
    cursor: pointer;
}

.paymentTitle {
     color: white;
     font-size: 18px;
     margin: 30px;
}

.paymentMethod {
    display: flex;
    flex-wrap: wrap;
    width: 552px;
    border-radius: 10px;
    border: 2px solid #72A479;
    margin: 0px 30px;
    
}

.chooseRestaurant {
    width: 363px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 45px;
}

.chooseRestaurant span {
    color: white;
    font-size: 16px;
    width: 210px;
    opacity: 0.6;
}

.paymentMethod div {
    border-radius: 10px;
    width: 184px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 18px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}



.timeOfDelivery {
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    margin-top: 20px;
    border-radius: 10px;
    width: 800px;
}

.timeOfDeliveryOption {
    display: flex;
    border: 2px solid #72A479;
    border-radius: 10px;
    width: 368px;
    margin-left: 30px;
}


.timeOfDeliveryOption div {
    width: 184px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    cursor: pointer;
    font-weight: 600;
    height: 63px;
} 

.timeOfDeliveryTitle {
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin: 30px;
}

.timeOut {
    background-image: url('../../images/time-out-banner/TimeOut.png');
    width: 800px;
    border-radius: 10px;
    height: 154px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timeOutImg {
    padding-top: 20px;
}

.timeOutInfo {
    width: 500px;
}

.timeOutInfo span {
    font-size: 22px;
    font-weight: 700;
    color: white;
}
.timeOutInfo p {
    font-size: 18px;
    color: white;
    opacity: 0.7;
    margin: 25px 0px 0px 0px;
}

.deliveryAddress span {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.deliveryStreet {
    width: 413px;
}

.comment {
    width: 601px;
}

.deliveryAddress {
    margin-left: 30px;
    margin-bottom: 10px;
}

.homeNumber {
    width: 171px;
}

.optionsPlace {
    width: 225px;
}

.entrance {
    width: 173px;
}

.floor {
    width: 173px;
}

.deliveryData {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.deliveryData input {
    border-radius: 10px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    margin-bottom: 15px;
    margin-right: 15px;
    box-sizing: border-box;
    padding-left: 20px;
    color: white;
    font-size: 18px;
} 

.deliveryBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 115px;
}

.deliveryBlock span {
    text-decoration: underline;
}

@media (max-width: 1100px) {
    .DeliveryPage {
        width: 75%;
    }
}

@media (max-width: 985px) {
    .DeliveryPage {
        width: 80%;
    }
}
@media (max-width: 950px) {
    .contacts {
        width: 750px;
    }
    .inputContacts input {
        width: 340px;
    }
    .delivery {
        width: 750px;
    }
    .deliveryAddress {
        width: 750px;
    }
    .payment {
        width: 750px;
    }
    .timeOfDelivery {
        width: 750px;
    }
    .accept {
        width: 750px;
    }
    .timeOut {
        width: 750px;
    }
}
@media (max-width: 895px) {
    .contacts {
        width: 700px;
    }
    .timeOut {
        width: 700px;
    }
    .inputContacts input {
        width: 300px;
    }
    .delivery {
        width: 700px;
    }
    .deliveryAddress {
        width: 700px;
    }
    .payment {
        width: 700px;
    }
    .timeOfDelivery {
        width: 700px;
    }
    .accept {
        width: 700px;
    }

}
@media (max-width: 823px) {
    .contacts {
        width: 650px;
    }
    .timeOutInfo {
        width: 300px;
    }
    .timeOutInfo span {
        font-size: 20px;
    }
    .timeOut {
        width: 650px;
    }
    .inputContacts input {
        width: 280px;
    }
    .delivery {
        width: 650px;
    }
    .deliveryAddress {
        width: 650px;
    }
    .payment {
        width: 650px;
    }
    .timeOfDelivery {
        width: 650px;
    }
    .accept {
        width: 650px;
    }
    .btnOfDelivery {
        width: 160px;
    }

}
@media (max-width: 753px) {
    .contacts {
        width: 600px;
    }
    .timeOut {
        width: 600px;
    }
    .inputContacts input {
        width: 250px;
    }
    .delivery {
        width: 600px;
    }
    .deliveryAddress {
        width: 600px;
    }
    .payment {
        width: 600px;
    }
    .timeOfDelivery {
        width: 600px;
    }
    .accept {
        width: 600px;
    }
    .btnOfDelivery {
        width: 140px;
    }
    .accept label {
        width: 350px;
    }
    .deliveryStreet {
        width: 350px;
    }
    .optionsPlace {
        width: 160px;
    }
    .comment {
        width: 535px;
    }
}
@media (max-width: 694px) {
    .DeliveryPage {
        width: 85%;
    }
    .contacts {
        width: 560px;
    }
    .timeOut {
        width: 560px;
    }
    .payment {
        height: 280px;
        max-height: 400px;
    }
    .paymentMethod {
        width: 450px;
        height: 60px;
    }
    .paymentMethod div {
        height: 60px;
        width: 150px;

    }
    .timeOfDeliveryOption {
        width: 300px;
        font-size: 14px;
    }
    .inputContacts input {
        width: 240px;
    }
    .delivery {
        width: 560px;
    }
    .deliveryAddress {
        width: 560px;
    }
    .payment {
        width: 560px;
    }
    .timeOfDelivery {
        width: 560px;
    }
    .accept {
        width: 560px;
    }
    .btnOfDelivery {
        width: 150px;
    }
    .accept label {
        width: 310px;
    }
    .deliveryStreet {
        width: 320px;
    }
    .optionsPlace {
        width: 130px;
    }
    .comment {
        width: 505px;
    }


}

@media (max-width: 640px) {
    .DeliveryPage {
        width: 85%;
    }
    .timeOutInfo span {
        font-size: 16px;
    }
    .timeOutInfo p {
        font-size: 16px;
    }
    .timeOutInfo {
        width: 200px;
    }
    .contacts {
        width: 450px;
    }
    .timeOut {
        width: 450px;
    }
    .payment {
        height: 280px;
        max-height: 400px;
    }
    .paymentMethod {
        width: 390px;
        height: 60px;
    }
    .paymentMethod div {
        height: 60px;
        width: 130px;
        font-size: 14px;
    }
    .chooseTime {
        width: 90px;
        text-align: center;
        font-size: 14px;
        padding-left: 15px;
    }
    .timeOfDeliveryOption {
        width: 300px;
        font-size: 14px;
    }
    .inputContacts input {
        width: 180px;
    }
    .delivery {
        width: 450px;
        height: 530px;
        max-height: 900px;
    }
    .deliveryAddress {
        width: 450px;
    }
    .payment {
        width: 450px;
    }
    .timeOfDelivery {
        width: 450px;
    }
    .accept {
        width: 450px;
    }
    .btnOfDelivery {
        width: 150px;
    }
    .accept label {
        width: 230px;
    }
    .floor {
        width: 200px;
    }
    .deliveryStreet {
        width: 390px;
    }
    .optionsPlace {
        width: 200px;
    }
    .comment {
        width: 395px;
    }
}

@media (max-width: 520px) {
    .deliveryTitle {
        font-size: 24px;
    }
    .deliveryBlock {
        width: 90px;
    }
    .deliveryBlock span {
        font-size: 15px;
    }
    .DeliveryPage {
        width: 80%;
    }
    .contacts {
        width: 390px;
    }
    .timeOut {
        width: 390px;
    }
    .chooseRestaurant {
        width: 320px;
    }
    .payment {
        height: 280px;
        max-height: 400px;
    }
    .paymentMethod {
        width: 330px;
        height: 60px;
    }
    .paymentMethod div {
        height: 60px;
        width: 110px;
        font-size: 13.5px;
    }
    .chooseTime {
        width: 200px;
        text-align: center;
        font-size: 17px;
        padding-left: 15px;
        margin-top: 20px;
    }
    .timeOfDeliveryOption {
        width: 300px;
        font-size: 14px;
    }
    .inputContacts input {
        width: 160px;
    }
    .chooseDelivery {
        width: 330px;
    }
    .delivery {
        width: 390px;
        height: 100%;
        max-height: 900px;
    }
    .deliveryAddress {
        width: 390px;
    }
    .payment {
        width: 390px;
    }
    .timeOfDelivery {
        width: 390px;
        display: flex;
        flex-direction: column;
    }
    .accept {
        width: 390px;
    }
    .btnOfDelivery {
        width: 150px;
    }
    .accept label {
        width: 230px;
    }
    .floor {
        width: 145px;
    }
    .deliveryStreet {
        width: 330px;
    }
    .optionsPlace {
        width: 145px;
    }
    .comment {
        width: 335px;
    }
}

@media (max-width: 460px) {
    .DeliveryPage {
        width: 85%;
    }
}
@media (max-width: 436px) {
    .deliveryTitle {
        font-size: 20px;
    }
    .timeOut {
        width: 370px;
    }
    .timeOutInfo {
        width: 130px;
    }
    .change{ 
        height: 56px;
        width: 150px;
    }
    .DeliveryPage {
        width: 85%;
    }
    .contacts {
        width: 370px;
    }
    .payment {
        height: 280px;
        max-height: 400px;
    }
    .paymentMethod {
        width: 300px;
        height: 50px;
    }
    .paymentMethod div {
        height: 50px;
        width: 100px;
        font-size: 12.5px;
    }
    .chooseTime {
        width: 200px;
        text-align: center;
        font-size: 17px;
        padding-left: 15px;
        margin-top: 20px;
    }
    .timeOfDeliveryOption {
        width: 300px;
        font-size: 14px;
    }
    .inputContacts input {
        width: 140px;
    }
    .chooseDelivery {
        width: 310px;
    }
    .delivery {
        width: 370px;
        height: 530px;
        max-height: 900px;
    }
    .deliveryAddress {
        width: 370px;
    }
    .payment {
        width: 370px;
    }
    .timeOfDelivery {
        width: 370px;
        display: flex;
        flex-direction: column;
    }
    .accept {
        width: 370px;
    }
    .btnOfDelivery {
        width: 120px;
        font-size: 12px;
        height: 45px;
    }
    .accept label {
        width: 180px;
        font-size: 10px;
    }
    .entrance {
        width: 150px;
    }
    .floor {
        width: 145px;
    }
    .deliveryStreet {
        width: 310px;
    }
    .optionsPlace {
        width: 145px;
    }
    .homeNumber {
        width: 150px;
    }
    .comment {
        width: 310px;
    }
}

@media (max-width: 418px) {
    .DeliveryPage {
        width: 90%;
    }
    .chooseRestaurant {
        width: 270px;
    }
    .deliveryTitle {
        font-size: 20px;
    }
    .timeOut {
        width: 340px;
    }
    .timeOutInfo {
        width: 130px;
    }
    .change{ 
        height: 56px;
        width: 150px;
    }
    .DeliveryPage {
        width: 85%;
    }
    .contacts {
        width: 340px;
    }
    .payment {
        height: 280px;
        max-height: 400px;
    }
    .paymentMethod {
        width: 300px;
        height: 50px;
        margin-left: 15px;
    }
    .paymentMethod div {
        height: 50px;
        width: 100px;
        font-size: 12.5px;
    }
    .chooseTime {
        width: 200px;
        text-align: center;
        font-size: 17px;
        padding-left: 15px;
        margin-top: 20px;
    }
    .timeOfDeliveryOption {
        width: 260px;
        font-size: 14px;
    }
    .inputContacts input {
        width: 140px;
    }
    .chooseDelivery {
        width: 280px;
    }
    .delivery {
        width: 340px;
        height: 530px;
        max-height: 900px;
    }
    .deliveryAddress {
        width: 340px;
    }
    .payment {
        width: 340px;
    }
    .timeOfDelivery {
        width: 340px;
        display: flex;
        flex-direction: column;
    }
    .accept {
        width: 340px;
    }
    .btnOfDelivery {
        width: 100px;
        font-size: 12px;
        height: 45px;
    }
    .accept label {
        width: 180px;
        font-size: 10px;
    }
    .entrance {
        width: 120px;
    }
    .floor {
        width: 145px;
    }
    .deliveryStreet {
        width: 280px;
    }
    .optionsPlace {
        width: 145px;
    }
    .homeNumber {
        width: 120px;
    }
    .comment {
        width: 280px;
    }
}
@media (max-width: 379px) {
    .deliveryTitle {
        font-size: 20px;
    }
    .timeOut {
        width: 300px;
    }
    .timeOutInfo {
        width: 130px;
    }
    .timeOutInfo span {
        font-size: 14px;
    }
    .timeOutInfo p {
        font-size: 14px;
    }
    .timeOutImg {
        width: 130px;
    }
    .chooseRestaurant {
        width: 240px;
    }
    .change{ 
        height: 56px;
        width: 150px;
    }
    .DeliveryPage {
        width: 85%;
    }
    .contacts {
        width: 300px;
    }
    .payment {
        height: 280px;
        max-height: 400px;
    }
    .paymentMethod {
        width: 270px;
        height: 50px;
        margin-left: 15px;
    }
    .paymentMethod div {
        height: 50px;
        width: 90px;
        font-size: 12.5px;
    }
    .chooseTime {
        width: 200px;
        text-align: center;
        font-size: 17px;
        padding-left: 15px;
        margin-top: 20px;
    }
    .timeOfDeliveryOption {
        width: 240px;
        font-size: 14px;
        margin-left: 0px;
        height: 63px;
    }
    .btn {
        font-size: 13px;
    }
    .inputContacts input {
        width: 120px;
    }
    .chooseDelivery {
        width: 240px;
        font-size: 13px;
    }
    .delivery {
        width: 300px;
        height: 530px;
        max-height: 900px;
    }
    .deliveryAddress {
        width: 300px;
    }
    .payment {
        width: 300px;
    }
    .timeOfDelivery {
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .accept {
        width: 300px;
    }
    .btnOfDelivery {
        width: 80px;
        font-size: 10px;
        height: 45px;
    }
    .accept label {
        width: 150px;
        font-size: 10px;
    }
    .entrance {
        width: 110px;
    }
    .floor {
        width: 115px;
    }
    .deliveryStreet {
        width: 240px;
    }
    .optionsPlace {
        width: 115px;
    }
    .homeNumber {
        width: 110px;
    }
    .comment {
        width: 240px;
    }
    .chooseDelivery div {
        font-size: 14px;
        height: 50px;
    }
}