.footer {
    background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
    max-width: 100%;
    width: 100vw;
    height: 195px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans Mono', monospace;
}

.footerMenu {
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
}

.footerMenu span {
    cursor: pointer;
    margin-right: 30px;
}

.footerMenu span:hover {
    opacity: 0.5;
}

.titleLogo {
    font-size: 25px;
    font-weight: 700;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.infoFooterBlock {
    color: white;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.footerLink {
    color: white;
    margin-top: 7px;
}

@media (max-width: 1045px) {
    .footer {
        justify-content: space-around;
    }
    .footerMenu {
        width: 550px;
        justify-content: space-around;
    }
    .footerMenu span {
        font-size: 16px;
    }
    .titleLogo {
        font-size: 20px;
    }
    .infoFooterBlock span {
        font-size: 13px;
    }
    .infoFooterBlock a {
        font-size: 13px;
    }
}
@media (max-width: 1001px) {
    .footer {
        justify-content: space-around;
    }
    .footerMenu {
        width: 480px;
        justify-content: space-around;
    }
    .footerMenu span {
        font-size: 14px;
    }
    .titleLogo {
        font-size: 20px;
    }
    .infoFooterBlock span {
        font-size: 13px;
    }
    .infoFooterBlock a {
        font-size: 13px;
    }
}
@media (max-width: 936px) {
    .footer {
        justify-content: space-around;
    }
    .footerMenu {
        width: 450px;
        justify-content: space-around;
    }
    .footerMenu span {
        font-size: 13px;
        margin: 0;
    }
    .titleLogo {
        font-size: 20px;
    }
    .infoFooterBlock span {
        font-size: 13px;
    }
    .infoFooterBlock a {
        font-size: 13px;
    }
}
@media (max-width: 840px) {
    .footer {
        justify-content: space-around;
    }
    .footerMenu {
        font-size: 15px;
    }
}
@media (max-width: 825px) {
    .footer {
        justify-content: space-around;
    }
    .footerMenu {
        font-size: 15px;
        flex-wrap: wrap;
        width: 240px;
    }
    .footerMenu span {
        margin-bottom: 10px;
        width: 120px;
    }
}
@media (max-width: 772px) {
    .footer {
        justify-content: space-around;
    }
    .footerMenu {
        font-size: 15px;
    }
}

@media (max-width: 700px) {
    .footer {
    }
}

@media (max-width: 672px) {
    .footerMenu {
        display: flex;
        flex-direction: column;
        width: 200px;
        text-align: center;
    }
    .footerMenu span {
        margin-top: 16px;
    }
}
@media (max-width: 620px) {
    .footerMenu {
        display: flex;
    }
}
@media (max-width: 600px) {
    .footerMenu {
        flex-direction: column;
        width: 150px;
    }
    .footerMenu span {
        margin-top: 15px;
    }
}
@media (max-width: 580px) {
    .footerMenu {
        flex-direction: column;
    }
    .footerMenu span {
        margin-top: 15px;
    }
}
@media (max-width: 550px) {
    .footerMenu {
        width: 150px;
    }
    
}
@media (max-width: 530px) {

    .footerMenu {
        width: 140px;
    }
    
}
@media (max-width: 508px) {
    
    .footerMenu {
        width: 150px;
    }
    .infoFooterBlock {
        width: 200px;
    }
    
}
@media (max-width: 478px) {
    .footerMenu {
        flex-direction: column;
    }
}
@media (max-width: 468px) {
    .footerMenu {
        flex-direction: column;
    }
}
@media (max-width: 457px) {
    .footer {
        justify-content: center;
        height: 150px;
    }
    .footerMenu {
        display: none;
    }
    .infoFooterBlock {
        text-align: center;
        width: 300px;
    }
}
@media (max-width: 436px) {
    .footer {
        width: 430px;
    }
}

@media (max-width: 406px) {
    .infoFooterBlock span {
        font-size: 13px;
    }
    .infoFooterBlock a {
        font-size: 13px;
    }
    .infoFooterBlock {
        margin-left: 10px;
    }
}

@media (max-width: 397px) {
    .footer {
        height: 140px;
    }
    .infoFooterBlock a {
        font-size: 10px;
    }
    .infoFooterBlock span {
        font-size: 13px;   
     }

    .titleLogo {
        font-size: 16px;
    }
}
@media (max-width: 371px) {
    .footer {
        height: 130px;
    }
    .infoFooterBlock a {
        font-size: 10px;
    }
    .infoFooterBlock {
        width: 250px;
    }
    .infoFooterBlock span {
        font-size: 11px;   
     }
    .titleLogo {
        font-size: 13px;
    }
}