.modal {
    height: 100%;
    width: 100%;

}

.cartModalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cartModal {
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    width: 458px;
    height: 348px;
    color: white;
    border-radius: 10px;
    position: fixed;
    z-index: 5;
    top: 200px;
}

.cartEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartEmpty span {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.cartImg {
    width: 75px;
    height: 87px;
    margin: 60px 0px 20px 0px;
}

.cartBtn {
    border: none;
    border-radius: 10px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    color: white;
    font-size: 14px;
    font-weight: 700;
    width: 188px;
    height: 51px;
    cursor: pointer;
}

.cartClose {
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media (max-width: 1295px) {
    .cartModal {
        width: 400px;
    }
}
@media (max-width: 760px) {
    .cartModal {
        width: 330px;
        height: 320px;
    }
    .cartEmpty span {
        font-size: 18px;
    }
    .cartImg {
        width: 70px;
        height: 70px;
    }
    .cartModal {
        top: 300px;
    }
}
@media (max-width: 465px) {
    .cartModal {
        width: 300px;
        height: 300px;
    }
    .cartEmpty span {
        font-size: 18px;
    }
    .cartImg {
        width: 70px;
        height: 70px;
    }
    .cartModal {
        top: 300px;
    }
}
@media (max-width: 412px) {
    .cartModal {
        width: 290px;
        height: 290px;
    }
    .cartEmpty span {
        font-size: 18px;
    }
    .cartImg {
        width: 70px;
        height: 70px;
    }
    .cartModal {
        top: 300px;
        left: 65px;
    }
}